* {
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    min-height: 100vh;
    background-color: #111;
}

.title {
    position: absolute;
    left: 20px;
    top: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ccc;
}

.button {
    font-size: 30px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ccc;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.button:hover {
    background-color: #333;
}

.save {
    position: absolute;
    top: 70px;
    left: 20px
}

.load {
    position: absolute;
    width: 60px;
    top: 110px;
    left: 20px
}

.undo {
    position: absolute;
    top: 20px;
    right: 100px
}

.redo {
    position: absolute;
    top: 20px;
    right: 20px
}

.clear {
    position: absolute;
    top: 70px;
    right: 20px
}

.draw-area {
    position: absolute;
    background-color: #222;
    border-radius: 50%;
    border: 2px solid #333;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 95vh;
    max-width: 95vw;
    min-width: 50vh;
    box-shadow: #000 0px 0px 20px 10px;
    z-index: 0;
    aspect-ratio: 1;
}